/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the body and root container take up full width */
html, body, #root {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-container {
  background: #FFFEFC;
  width: 100%;
  min-height: 100vh; /* Allow content to expand */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Keeps content at the top */
  padding: 40px 20px;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 8px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  display: block;
  color: white;
}

p {
  text-align: start;
  font-size: 20px;
  margin-bottom: 15px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .subtitle {
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  .subtitle {
    padding: 6px 12px;
  }
}

.description {
  font-size: 20px;
  color: #000;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 30px;
  align-items: center;
  border-bottom: 1px solid #000; /* Set color and style */
}

.table td, 
.table th {
  border: none; 
  padding: 12px;
  text-align: center;
  width: 50%;
  border-left: none;
  border-right: none;
} 

.table th {
  text-align: center;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray for better readability */
}
